TEAMS_CLIENT_SECRET=<your-client-secret>
TEAMS_CLIENT_ID=<your-client-id>
TEAMS_TENANT_ID=<your-tenant-id>
teamsAppId=<your-teams-app-id>
endpoint=https://<your-devtunnel-subdomain>.use.devtunnels.ms/api/messages
